<div class="circle box">
  This is a backround SVG
</div>

<div class="ellipse box">
  This is a background SVG with placeholders
</div>

<div class="placeholder-svg box">
  This is a background SVG with placeholders without the SASS function
</div>
